<section class="content login-content">
  <div class="login-logo">
    <b>MEAT</b> | Sign Up
  </div>

  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body" style="margin-bottom: 3%;">
    <p class="login-box-msg">
      Cadastre-se para começar a fazer pedidos!
    </p>

    <form [formGroup]="signForm">

      <input type="text" formControlName="profiles" disabled *ngIf="false">
      <!--name-->
      <strong>Nome:</strong>
      <mt-input-container [showTip]="false" label="Nome">
        <input type="text" 
               formControlName="name" 
               class="form-control" 
               placeholder="Seu primeiro nome">
      </mt-input-container>

      <!--last name-->
      <strong>Sobrenome:</strong>
      <mt-input-container [showTip]="false" label="Sobrenome">
        <input type="text" 
                formControlName="lastName" 
                class="form-control" 
                placeholder="Seu sobrenome">
      </mt-input-container>

      <!--email-->
      <strong>E-mail:</strong>
      <mt-input-container [showTip]="false" label="E-mail">
        <input type="text" 
               formControlName="email" 
               class="form-control" 
               placeholder="Seu e-mail">
      </mt-input-container>

      <!--password-->
      <strong>Senha:</strong>
      <mt-input-container label="Senha"
      errorMessage="A senha deve conter no mínimo 6 caracteres.">
        <input type="password" 
               formControlName="password" 
               class="form-control" 
               placeholder="Sua senha"
               autocomplete="on">
      </mt-input-container>

      <!--cpf-->
      <strong>CPF:</strong>
      <mt-input-container label="CPF" [showTip]="false">
        <input type="text" 
               formControlName="cpf" 
               class="form-control" 
               placeholder="Seu CPF"
               mask="000.000.000-00">
      </mt-input-container>

      <!--gender-->
      <strong>Gênero:</strong>
      <select class="form-control" formControlName="gender">
        <option *ngFor="let gender of genders"
                [ngValue]="gender.value">
          {{gender.label}}
        </option>
      </select>

      <div class="row btn-top">
        <div class="col-xs-12">
          <button (click)="signUp()"
                  type="submit" 
                  class="btn btn-primary btn-block btn-flat"
                  [disabled]="signForm.invalid">
            Cadastrar
          </button>
        </div>
      </div>

    </form>
  </div>
</section>