<div>
  <button class="btn btn-success" (click)="toggleAppear()">Avaliar restaurante</button>
</div>

<!--modal-->
<div class="modal-dialog modal-position search-bar" [@toggleChat]="toggleState">


  <form [formGroup]="chatForm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="toggleAppear()">×</span>
        </button>

        <h4 class="modal-title">
          Escrever avaliação para
          <strong>{{restaurant?.name}}</strong>
        </h4>
      </div>

      <div class="modal-body">
        <mt-input-container label="Commentary" [showTip]="false">
          <input type="text" class="full-width modal-settings" 
          formControlName="comments" placeholder="Deixe sua opinião...">
        </mt-input-container>

        <mt-input-container label="Rating" [showTip]="false">
          <input class="pull-left" type="number" formControlName="rating">
        </mt-input-container>
      </div>

      <div class="modal-footer">
        <button 
          type="submit" 
          class="btn btn-success" 
          (click)="postReview(chatForm?.value)" 
          [disabled]="chatForm.invalid"
        >
          Enviar
        </button>
      </div>

    </div>
  </form>

</div>
