<div>
  <button class="btn btn-success" (click)="toggle()">Avaliar restaurante</button>
</div>

<!--modal-->
<ng-container *ngIf="toggleAppear" @modal>
  <form [formGroup]="chatForm" class="modal-position modal-size modal-style">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="font-size: 3rem;" (click)="doCloseModal()">×</span>
      </button>

      <h4 class="modal-title">
        Escrever avaliação para
        <strong>{{restaurant?.name}}</strong>
      </h4>
    </div>

    <div class="modal-body">
      <mt-rating formControlName="rating" (rated)="rate($event)" class="rating"></mt-rating>

      <textarea class="modal-label-settings full-width" formControlName="comments" rows="3"
        placeholder="Deixe sua opinião..."></textarea>
    </div>

    <div class="modal-footer">
      <button class="btn btn-default" (click)="doCloseModal()">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="doCompleteReviewBody(chatForm?.value)"
        [disabled]="chatForm.invalid">
        Enviar avaliação
      </button>
    </div>

  </form>
  <div (click)="toggle()"
  @overlay
  class="overlay"></div>
</ng-container>
