<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">

              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> 
                Finalize o seu pedido
              </h2>

            </div>
          </div>  

          <!-- <div class="row">
            <div class="col-sm-6 col-xs-12">
              <span class="lead">
                Nome:
              </span>
              
              <mt-input-container
                errorMessage="Campo obrigatório com 5 caracteres" 
                label="Nome"
              >
              <input 
                class="form-control"
                formControlName="name" 
                value="{{user().name}}"
                disabled 
              >
              </mt-input-container>
            </div>

            <div class="col-sm-6 col-xs-12">
              <span class="lead">
                E-mail:
              </span>

              <mt-input-container
                errorMessage="E-mail inválido" 
                label="E-mail"
              >
                <input 
                  class="form-control"
                  formControlName="email" 
                  value="{{user().email}}" 
                  disabled
                >
              </mt-input-container>
            </div>
          </div> -->

          <!--Endereço-->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">
                Endereço de Entrega:
              </p>
            </div>

            <div class="col-sm-6 col-xs-12">
              <mt-input-container 
                errorMessage="Campo obrigatório com 5 caracteres" 
                label="Endereço">
                <input formControlName="address" 
                       minlength="5" 
                       placeholder="Endereço"
                       autocomplete="off" 
                       class="form-control">
              </mt-input-container>
            </div>

            <div class="col-sm-2 col-xs-6">
              <mt-input-container 
                errorMessage="Campo obrigatório" 
                label="Número">
                <input type="number" 
                       formControlName="number" 
                       placeholder="Número" 
                       autocomplete="off"
                       class="form-control">
              </mt-input-container>
            </div>

            <div class="col-sm-4 col-xs-6">
              <mt-input-container label="Complemento">
                <input type="text" 
                       formControlName="optionalAddress"  
                       placeholder="Complemento"
                       class="form-control">
              </mt-input-container>
            </div>
          </div>
          <!--Fim do endereço-->

          <!--Tabela de items-->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>

            <mt-order-items 
              [items]="cartItems()" 
              (icrQuantity)="icrQuantity($event)"
              (dcrQuantity)="dcrQuantity($event)"
              (remove)="remove($event)"
            ></mt-order-items>
          </div>
          <!--Fim tabela de items-->

          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

              <div class="form-group">
                <mt-radio 
                  [options]="paymentOptions"  
                  formControlName="paymentOption"  
                  required
                ></mt-radio>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>
              <mt-delivery-costs 
                [delivery]="delivery" 
                [itemsValue]="itemsValue()"
              ></mt-delivery-costs>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-xs-12">
            <button 
              (click)="doConfirmOrder(orderForm?.value)" 
              href="order-summary.html" 
              [disabled]="!orderForm.valid || cartItems().length === 0" 
              class="btn btn-success pull-right"
            >
              <i class="fa fa-credit-card"></i> 
              Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>