<div class="column-container">
  <div class="column-header">
    <span> 
      <strong>29/10/2022</strong>
    </span>
  </div>
  
  <span class="column-items">
    <h4>Você comprou: </h4>
  </span>

  <!--*ngFor-->
  <span class="column-items">
    <strong>{{orderHistoric.orderItems[0].menuId}} ({{orderHistoric.orderItems[0].quantity}}x) - R$ 50,00</strong>
  </span>
  <!--fim *ngFor-->
  
  <!--Dados do usuário-->
  <span class="column-items">
    <h4>Seus dados: </h4>
  </span>

  <span class="column-items">
    <strong>E-mail: {{orderHistoric.email}}</strong>
  </span>

  <span class="column-items">
    <strong>Endereço: {{orderHistoric.address}}</strong>
  </span>
  <!--fim Dados do usuário-->

  <span class="column-items">
    <h4>Pagamento: </h4>
  </span>

  <span class="column-items">
    <strong>Preço total: R$ 150,00</strong>
  </span>

  <span class="column-items">
    <strong>Forma de pagamento: {{orderHistoric.paymentOption}}</strong>
  </span>
</div>