.column-container{
    display: flex;
    flex-direction: column;
}

.column-header{
    padding: .0.8rem;
    font-size: 2rem;
    border-bottom: rgba(187, 184, 184, 0.527) 1px solid;
    margin-bottom: 1rem;
}