.padding-one{
    padding: 1rem;
}

.card-header{
    border-bottom: 0.2rem solid rgba(211, 212, 212, 0.616);
    display: flex;
    align-items: center;
}

.card-footer{
    border-top: 0.2rem solid rgba(211, 212, 212, 0.616);
}

.font-bold{
    font-weight: 600;
}