<div>
  <div class="card-header padding-one">
    <h3 class="font-bold">Resumo do pedido</h3>
  </div>

  <div class="card-body padding-one">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="font-bold">Você comprou:</h4>
        <p *ngFor="let item of orderHistoric.orderItems; let i = index">
          {{orderHistoric?.orderItems[i]?.name}}
          <strong>
            ({{orderHistoric?.orderItems[i]?.quantity}}x) 
          </strong>
        </p>
      </div>

      <div class="col-sm-4">
        <h4 class="font-bold">Seus dados:</h4>
        <p>E-mail: <strong>{{orderHistoric?.email}}</strong></p>
        <p>Endereço: <strong>{{orderHistoric?.address}}, {{orderHistoric?.number}}</strong></p>
        <p>Complemento: <strong>{{orderHistoric?.optionalAddress}}</strong></p>
      </div>

      <div class="col-sm-4">
        <h4 class="font-bold">Dados de pagamento:</h4>
        <p>
          Forma de pagamento:
          <strong>
            {{doFormatPaymentOption(orderHistoric?.paymentOption)}}
          </strong>
        </p>
        <p>Frete: <strong> R$ 8,00 </strong></p>
      </div>
    </div>
  </div>

  <div class="card-footer padding-one">
    <h4 class="font-bold">Valor total:
      <strong class="text-red">
        {{orderHistoric?.totalOrder | currency: 'BRL' : 'symbol'}}
      </strong>
    </h4>
  </div>
</div>
