<div class="modal-style modal-position" style="padding: 8px;">
  <div class="modal-lg" style="width: 60rem;">
    
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">
            <strong>Detalhes do pedido</strong> - ({{order?._id}})
          </h4>

          <span *ngIf="order?.rating">
            Avaliação:  
            <i *ngFor="let star of [].constructor(order?.rating)" 
            class="fa fa-star ylw-star"></i>
          </span>

          <span *ngIf="!order?.rating">
            Não avaliou a compra? <a [routerLink]="['/order-summary']">Avalie aqui.</a>
          </span>
        </div>
    
        <div class="modal-body">
          
          <div class="row">
            <div class="col-md-12">
              <div class="row" style="font-size: 15px;">
    
                <div class="col-md-6">
                  <h4>
                    <strong>Informações do pedido:</strong>
                  </h4>
                  <p>
                    Data da compra: 
                    <strong>{{order?.date | date:'dd/MM/yyyy, hh:mm:ss'}}</strong>
                  </p>
                  <p>
                    Forma de pagamento: 
                    <strong>{{doFormatPaymentOption(order?.paymentOption)}}</strong>
                  </p>
                  <h4>
                    Valor total: 
                    <strong>{{order?.totalOrder | currency: 'BRL' : 'symbol'}}</strong>
                  </h4>
                </div>
    
                <div class="col-md-6">
                  <h4><strong>Informações do cliente:</strong></h4>
                  <p>{{order?.userName}}</p>
                  <p>
                    Endereço: 
                    <strong>{{order?.address}}, {{order?.number}}</strong>
                  </p>       
                  <p *ngIf="order?.optionalAddress">
                    Complemento: 
                    <strong>{{order?.optionalAddress}}</strong>
                  </p>
                </div>
    
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-12">
              <h5>
                <strong>Itens do pedido:</strong>
              </h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço (Unidade)</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of order?.orderItems; let i = index">
                    <td>{{order?.orderItems[i]?.name}}</td>
                    <td>{{order?.orderItems[i]?.quantity}}</td>
                    <td>{{order?.orderItems[i]?.valueItem | currency: 'BRL' : 'symbol'}}</td>
                    <td>{{(order?.orderItems[i]?.valueItem * order?.orderItems[i]?.quantity) | currency: 'BRL' : 'symbol'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    
      </div>

  </div>
</div>